* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
}

window {
    background-color: rgba(26, 27, 38, 0.85);
}

button {
    color: #c0caf5;
    background-color: #24283b;
    outline-style: none;
    border: 2px solid #7aa2f7;
    border-radius: 20px;
    margin: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.0);
}

button:focus, button:active, button:hover {
    background-color: rgba(122, 162, 247, 0.5);
    border: 2px solid #bb9af7;
    color: #ffffff;
}

#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }