* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: rgba(20, 20, 20, 0.8);
    color: white;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 5px;
    color: #7ab2ff;
}

#workspaces button.active {
    color: #ffffff;
    background: #333333;
}